.articulos{
	background-color:rgb(0, 128, 192);
	width:100%;
}
h1{
	text-align: center;
}
nav{
	float:left;
	width: 80%;
    margin-left:10%;
    background-color:green;
}
nav > h3{
	float: left;
	width:30%;
	text-align: center;
}
.impar{
	float: left;
	width: 38%;
	margin-left:10%;
	margin-top:2%;
	display:block;
}

.par{
	float: left;
	width: 38%;
	margin-left:4%;
	margin-top:2%;
}
img{
	display:block;
	margin:auto;
	width:10vw;
	height:10vw;
}