<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<title> Acceso a usuarios </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">

</head>

<body>
	<header th:replace="nav/header.html"> </header>
	
	<br>
	
	<div class="container-fluid">
		<div class="row form-inline">
			<div class="col-4 centro">
				<form class="" th:action="@{/usuario/login}" method="POST">
					<input class="form-control" name="nombreUsuario" size="20" type="text" placeholder="Nombre de Usuario">
					<input class="form-control" name="contrasenia" size="20" type="password" placeholder="Contraseña">

					<input class="btn btn-outline-primary btn-lg" type="submit" value="Entrar">
				</form>
			</div>
		</div>
		<div th:if="${param.error}" class="row"> 
			<p class="alert alert-danger"> Usuario o Contraseña Incorrectos </p>
		</div>
	</div>

	<br>
	
</body>

</html>