<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">
<head>
	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Bootstrap(Sketchy).css}">
	<meta name="viewport" content="width=device-width">
	<title> Acceso a usuarios </title>

</head>

<body>
	<h1 class="center"> Acceso a usuarios </h1>
	
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/index"> INICIO </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/crear"> AÑADIR PRODUCTO </a>
					</li>
				</ul>
	
				<form th:action="@{/producto/buscar}" method="GET">
					<input class="me-sm-2" type="search" name="nombre" placeholder="Nombre del producto..." size="30">
					<input type="submit" value="Buscar">
				</form>
			</div>
		</nav>
	</header>
	
	<br>
	
	<form th:action="@{/usuario/login}" method="POST" class="form-group">
		<input name="nombreusuario" size="20" type="text" placeholder="Usuario">
		<input name="contrasenia" size="20" type="password" placeholder="Contraseña">
		<input type="submit" class="btn btn-primary btn-sm" value="Entrar">
		<p class="text-danger" th:text="${error}"> </p>
	</form>
	
	
</body>

</html>