<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<title> Borrar producto </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis Martinez">
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">

	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-icons.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap(1).css}">

</head>

<body>

	<header th:replace="nav/header.html"> </header>

	<br>

	<div class="container-fluid">
		<h1 th:text="${borrar}"> </h1>
	</div>

</body>

</html>