<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<meta charset='utf-8'>
	<meta name="author" content="Erick José Jáquez Encarnación">
	<link rel="stylesheet" th:href="@{/css/Bootstrap(Sketchy).css}">
	<meta name="viewport" content="width=device-width">
	<title> Buscar Productos </title>

</head>

<body>

	<header>
		<h1 class="center"> BUSQUEDA DE PRODUCTOS </h1>
	</header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="/index"> INICIO </a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/crear"> AÑADIR PRODUCTO </a>
				</li>
			</ul>

			<div class="d-block">

				<form th:action="@{/producto/buscar}" method="GET">
					<input class="me-sm-2" type="search" name="nombre" placeholder="Nombre del producto..." size="30">
					<input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Buscar">
				</form>
				<div class="userLR">
					<div th:if="${usuario1 != usuario2}">
						<a th:href="@{/usuario/login}" class="btn btn-outline-info bg-white"> Entrar </a>
						<a th:href="@{/usuario/signup}" class="btn btn-outline-info bg-white"> Registro </a>
					</div>
					<div th:if="${usuario1 == usuario2}">
						<a th:href="@{/usuario/perfil/{id}(id=${id_usuario})}" class="btn btn-outline-info bg-white">
							Perfil
						</a>
						<a th:href="@{/usuario/logOut}" class="btn btn-outline-info bg-white"> Salir </a>
						<a th:href="@{/carrito/listar}">
							<div th:if="${usuario1 == usuario2}" class="userLR carrito"> </div>
						</a>
					</div>
				</div>

			</div>
		</div>
	</nav>
	<br>
	<table th:each="producto: ${productos}" class="table">
		<thead>
			<tr class="table-info">
				<th scope="col"> Identificador de Producto </th>
				<th scope="col"> Nombre de Producto </th>
				<th scope="col"> Descripcion del Producto </th>
				<th scope="col"> Precio </th>
				<th scope="col"> Descuento </th>
				<th scope="col"> </th>
			</tr>
		</thead>

		<tbody>
			<tr class="table-info">
				<td class="tablaCompras" scope="row" th:text="${producto.id_Producto}" />
				<td class="tablaCompras" scope="row" th:text="${producto.tituloProducto}" />
				<td class="tablaCompras" scope="row" th:text="${producto.descripcionProducto}" />
				<td class="tablaCompras" scope="row" th:text="${producto.precio}" />
				<td class="tablaCompras" scope="row" th:text="${producto.descuento}" />
				<td class="tablaCompras">
					<form th:action="@{/carrito/guardar/{id}(id=${producto.id_Producto})}" method="GET">
						<input type="number" name="numeroProductos" placeholder="Numero de productos que desea"
							size="500">
						<input class="btn btn-success my-2 my-sm-0" type="submit" value="Añadir al carrito">
					</form>
				</td>
			</tr>
		</tbody>
	</table>

	</form>

</body>

</html>