<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>
	<meta charset='utf-8'>
	<meta name="author" content="Erick José Jáquez Encarnación">
	<link rel="stylesheet" th:href="@{/css/tienda.css}">
	<meta name="viewport" content="width=device-width">
	<title> Buscar Productos </title>

</head>

<body>
	<h1> BUSQUEDA DE PRODUCTOS </h1>
	<form th:action="@{/buscarProducto}" method="POST">
		<nav>
			<h3> <a href="/index"> INICIO </a> </h3>
			<h3> <a href="/crearProducto"> AÑADIR PRODUCTO </a> </h3>
			<h3> <a href="/buscarProducto"> BUSCAR PRODUCTO </a> </h3>
		</nav>
		<fieldset>
			<legend>Introduce el nombre del producto que desea buscar</legend>
			<p> Nombre del producto: <input type="text" name="nombreProducto"> </p>
			<input class="bg-danger text-white" type="submit" value="Buscar Producto">
		</fieldset>
	</form>
</body>

</html>