<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>
	<meta charset='utf-8'>
	<meta name="author" content="Erick José Jáquez Encarnación">
	<link rel="stylesheet" th:href="@{/css/bootstrap(Sketchy).css}">
	<meta name="viewport" content="width=device-width">
	<title> Buscar Productos </title>

</head>

<body>
	<h1> BUSQUEDA DE PRODUCTOS </h1>
	<form th:action="@{producto/buscar}" method="POST">
	</form>
	<a th:href="@{/index}"> <button> Volver a Inicio </button> </a>
</body>

</html>