<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>
	
	<title> Creación de productos </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap(1).css}">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">

</head>

<body>

	<header th:replace="nav/header.html"> </header>

	<br>

	<div class="container-fluid">
		<form th:action="@{/producto/crear}" method="POST" class="registro centrol">
			<div class="form-control">
				<fieldset>
					<legend> Datos del producto </legend>
					<input type="text" name="titulo" class="form-control mt-2" placeholder="Nombre del producto...">
					<input type="text" name="precio" step="any" class="form-control mt-2"
						placeholder="Precio del producto...">
					<textarea name="descripcion" class="form-control mt-2"
						placeholder="Introduce una descripción..." cols="35" rows="3"></textarea>
				</fieldset>


				<fieldset>
					<legend class="mt-2"> Enviar Petición</legend>
					<button type="submit" class="mt-2 btn btn-outline-primary btn-lg">Si</button>
					<button type="reset" class="mt-2 btn btn-outline-primary btn-lg">No</button>
				</fieldset>
			</div>
		</form>
	</div>
</body>

</html>