<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jáquez y Luis">
	<link rel="stylesheet" th:href="@{/css/Bootstrap(Sketchy).css}">
	<meta name="viewport" content="width=device-width">
	<title> Tienda </title>

</head>

<body>
	<h1> Dar de alta un Producto </h1>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/index">INICIO
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"href="/crear">AÑADIR PRODUCTO</a>
					</li>					
				</ul>
			<div class="d-block">

				<form th:action="@{/producto/buscar}" method="GET">
					<input class="me-sm-2" type="search" name="nombre" placeholder="Nombre del producto..." size="30">
					<input type="submit" value="Buscar">
				</form>				
				
				<div class="userLR">
					<a th:href="@{/usuario/login}" class="btn btn-outline-info bg-white"> Entrar </a>
					<a th:href="@{/usuario/signup}" class="btn btn-outline-info bg-white"> Registro </a>
				</div>
				
			</div>
			</div>
	</nav>
	
	<br>
	
	<form th:action="@{/crear}" method="POST">
		<fieldset>
			<legend> Datos del producto </legend>
			<p> Nombre del producto: <input type="text" name="titulo"> </p>
			<p> Descripcion del producto: <textarea name="descripcion" cols="35" rows="3"> </textarea></p>
			<p> Precio que quiere ponerle al producto: <input type="number" name="precio" step="any"> </p>
		</fieldset>


		<fieldset>
			<legend> Enviar Petición</legend>
			<p> ¿Estás seguro? </p>

			<input type="Submit" value="Si">
			<input type="Reset" value="No">
		</fieldset>
	</form>
</body>

</html>