<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

	<head>

		<meta charset='utf-8'> 
		<meta name="author" content="Erick José Jáquez Encarnación">
		<link rel="stylesheet" th:href="@{/css/bootstrap(Sketchy).css}">
		<meta name="viewport" content="width=device-width">
		<title> Tienda </title>

	</head>

	<body>
		<h1> Tienda </h1>
		
		<form th:action="@{/index}" method="POST">
			<div> 1 </div>
			<div> 2 </div>
			<div> 3 </div>
			<div> 4 </div>
			<div> 5 </div>
			<div> 6 </div>
			<div> 7 </div>
			<div> 8 </div>
		</form>
	</body>
</html>