<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

	<head>

		<meta charset='utf-8'> 
		<meta name="author" content="Erick José Jáquez Encarnación">
		<link rel="stylesheet" th:href="@{/css/bootstrap(Sketchy).css}">
		<meta name="viewport" content="width=device-width">
		<title> Tienda </title>

	</head>

	<body>
		<h1> Tienda </h1>
		<form th:action="@{/index}" method="POST">
		<div class="cambio o no?">
			<div class="impar"> 1 </div>
			<div class="par"> 2 </div>
			<div class="impar"> 3 </div>
			<div class="par"> 4 </div>
			<div class="impar"> 5 </div>
			<div class="par"> 6 </div>
			<div class="impar"> 7 </div>
			<div class="par"> 8 </div>
		</section>
		</form>
		
	</body>
</html>