<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">
<!--git pull origin master --allow-unrelated-histories -->

<head>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap(1).css}">
	<meta name="viewport" content="width=device-width">
	<title> Tienda </title>

</head>

<body>
	<header th:replace="nav/header.html"> </header>

	<br>
	
	<div clas="container-fluid">
		<div class="imagenescambio">
			<div class="imginutiles" th:each="producto: ${Productos}">
				<a th:href="@{/producto/{id}(id=${producto.id_Producto})}">
					<img th:src="@{/{id}(id=${producto.id_Producto})}">
				</a>
			</div>
		</div>
	</div>
</body>

</html>