<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<title> Listado de compras </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap(1).css}">

</head>

<body>

	<header th:replace="nav/header.html"> </header>
	
	<br>
	
	<div class="container-fluid">

		<table th:each="compra: ${compras}" class="table">
			<thead>
				<tr class="table-info">
					<th scope="col"> Identificador de la Compra </th>
					<th scope="col"> Identificador de Usuario </th>
					<th scope="col"> Fecha de compra </th>
					<th scope="col"> Devolver </th>
				</tr>
			</thead>

			<tbody>
				<tr class="table-info text-start">
					<td scope="row" th:text="${compra.id_Compra}" />
					<td scope="row" th:text="${compra.usuario.id_Usuario}" />
					<td scope="row" th:text="${compra.fechaDePedido}" />
					<td scope="row">
						<form th:action="@{/compra/devolver/{id}(id=${compra.id_Compra})}" method="POST">
							<button type="submit">Devolver</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>