<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jáquez y Luis">
	<link rel="stylesheet" th:href="@{/css/Bootstrap(Sketchy).css}">
	<meta name="viewport" content="width=device-width">
	<title> Tienda </title>
</head>

<body>

	<header>
		<h1 class="center"> Mis compras </h1>
	</header>

	<!-- Apertura del menu -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
			<a class="nav-link text-white" href="/index"> INICIO </a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
				aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li th:if="${roles == 'Admin'}" class="nav-item">
						<a class="nav-link" th:href="@{/producto/crear}"> AÑADIR PRODUCTO </a>
					</li>
				</ul>
				<form class="d-flex" th:action="@{/producto/buscar}" method="GET">
					<input class="me-sm-2" type="search" name="nombre" placeholder="Nombre del producto..." size="30">
					<button class="btn btn-secondary my-2 my-sm-0" type="submit"> Buscar </button>
				</form>
				<div class="userLR">
					<div th:if="${usuario1 != usuario2}">
						<a th:href="@{/usuario/login}" class="btn btn-info"> Entrar </a>
						<a th:href="@{/usuario/signup}" class="btn btn-info"> Registro </a>
					</div>
					<div th:if="${usuario1 == usuario2}">
						<a th:href="@{/usuario/perfil/{id}(id=${id_usuario})}" class="btn btn-info">
							Perfil
						</a>
						<a th:href="@{/usuario/logOut}" class="btn btn-info"> Salir </a>
						<br>
						<a th:href="@{/carrito/listar}">
							<div th:if="${usuario1 == usuario2}" class="userLR carrito"> </div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>
	<!-- Cierre del menú -->

	<br>
	<table th:each="compra: ${compras}" class="table">
		<thead>
			<tr class="table-info">
				<th scope="col"> Identificador de la Compra </th>
				<th scope="col"> Identificador de Usuario </th>
				<th scope="col"> Fecha de compra </th>
				<th scope="col"> Devolver </th>
			</tr>
		</thead>

		<tbody>
			<tr class="table-info text-start">
				<td scope="row" th:text="${compra.id_Compra}" />
				<td scope="row" th:text="${compra.id_Usuario}" />
				<td scope="row" th:text="${compra.fechaDePedido}" />
				<td scope="row">
					<form th:action="@{/compra/devolver/{id}(id=${compra.id_Compra})}" method="POST">
						<button type="submit">Devolver</button>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>