<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jáquez y Luis">
	<link rel="stylesheet" th:href="@{/css/Bootstrap(Sketchy).css}">
	<meta name="viewport" content="width=device-width">
	<title> Tienda </title>
</head>

<body>

	<h1> Mis compras </h1>
	
	<header>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/index"> INICIO </a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/crear"> AÑADIR PRODUCTO </a>
					</li>
				</ul>

				<div class="d-block">

					<form th:action="@{/producto/buscar}" method="GET">
						<input class="me-sm-2" type="search" name="nombre" placeholder="Nombre del producto..."
							size="30">
						<input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Buscar">
					</form>
					<div class="userLR">
						<div th:if="${usuario1 != usuario2}">
							<a th:href="@{/usuario/login}" class="btn btn-outline-info bg-white"> Entrar </a>
							<a th:href="@{/usuario/signup}" class="btn btn-outline-info bg-white"> Registro </a>
						</div>
						<div th:unless="${usuario1 != usuario2}">
							<a th:href="@{/usuario/perfil/{id}(id=${usuario})}" class="btn btn-outline-info bg-white">
								Perfil </a>
							<a th:href="@{/usuario/logOut}" class="btn btn-outline-info bg-white"> Salir </a>
						</div>
							<a th:href="@{/carrito/listar}"><div class="carrito"></div></a>
					</div>
				</div>
			</div>
		</nav>
	</header>
	<br>
		<table th:each="compra: ${compras}" class="table">
		<thead>
			<tr class="table-info">
				<th scope="col"> Identificador de la Compra </th>
				<th scope="col"> Identificador de Usuario </th>
				<th scope="col"> Fecha de compra </th>
				<th scope="col"> Devolver </th>
			</tr>
		</thead>
		
		<tbody>
			<tr class="table-info">
				<td scope="row" th:text="${compra.id_Compra}" />
				<td scope="row" th:text="${compra.id_Usuario}" />
				<td th:text="${compra.fechaDePedido}"/>
				<td> 
					<form th:action="@{/compra/devolver/{id}(id=${compra.id_Compra})}" method="POST">
							<a th:href="@{/compra/miscompras}"><button>Devolver</button> </a>
					</form>
				</td>
			</tr>
		</tbody>
	</table>
</body>

</html>