<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<title> Información de producto </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<meta name="viewport" content="width=device-width">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap(1).css}">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">

	<script type="text/javascript" th:src="@{/js/ajax.js}"></script>

</head>

<body>
	<header th:replace="nav/header.html"> </header>

	<br>

	<div class="container-fluid">

		<table class="table">
			<thead>
				<tr class="table-info text-start">
					<th scope="col"> Identificador de Producto </th>
					<th scope="col"> Nombre de Producto </th>
					<th scope="col"> Descripcion del Producto </th>
					<th scope="col"> Precio </th>
					<th scope="col"> Descuento </th>
					<th scope="col"> </th>
				</tr>
			</thead>

			<tbody>
				<tr class="table-info text-start">
					<td scope="row" th:text="${producto.id_Producto}" />
					<td scope="row" th:text="${producto.tituloProducto}" />
					<td scope="row" th:text="${producto.descripcionProducto}" />
					<td scope="row" th:text="${producto.precio} + ' €'" />
					<td scope="row" th:text="${producto.descuento} + ' %'" />
					<td scope="row">
						<form th:action="@{/carrito/guardar/{id}(id=${producto.id_Producto})}" method="GET">
							<input type="number" name="numeroProductos" placeholder="Numero de productos que desea"
								size="500">
							<input class="btn btn-success mt-2" type="submit" value="Añadir al carrito">
						</form>
					</td>
				</tr>
			</tbody>
		</table>

		<div th:each="rol : ${roles}">
			<a th:if="${rol == 'Admin'}" th:href="@{/producto/borrar/{id}(id=${producto.id_Producto})}"> <button
					class="mt-2 btn btn-secondary btn-lg"> Borrar Producto </button> </a>

			<div th:if="${rol == 'Admin'}">
				<form th:action="@{/img/producto/{id}/imagen(id=${producto.id_Producto})}" method="POST"
					enctype="multipart/form-data">
					<div class="form-group">
						<label for="formFile" class="form-label mt-5"> Subir o Actualizar Imagen </label>
						<input class="form-control" type="file" id="formFile" name="file">
					</div>
					<input class="mt-2 btn btn-success btn-lg" type="submit" value="Enviar">
				</form>
			</div>

			<div th:if="${rol == 'Admin' || rol == 'Registrado'}">
				<form th:action="@{/crear/pregunta/{id}(id=${producto.id_Producto})}" method="POST" id="formPreguntas">
					<div class="input-group" th:if="${rol == 'Registrado' || rol == 'Admin'}">
						<button type="submit" id="EnviarPregunta">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-search" viewBox="0 0 16 16">
								<path
									d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
							</svg>
						</button>
						<input type="text" class="form-control rounded" placeholder="Haz tu pregunta..."
							aria-describedby="search-addon" id="Pregunta" />
					</div>
				</form>

				<!--Contenerdor de Preguntas y respuestas-->
				<p>Comentarios:</p>
				<div id="PyR">
					<!--<div class="card text-white bg-primary mb-3" style="max-width: 100%;">
						<div class="card-header">Header</div>
						<div class="card-body">
							<h4 class="card-title">Primary card title</h4>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk
								of the card's content.</p>
						</div>
					</div>-->
				</div>
			</div>
		</div>

	</div>
</body>

</html>