<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">
	<head>

		<meta charset='utf-8'> 
		<meta name="author" content="Erick Jáquez y Luis">
		<link rel="stylesheet" th:href="@{/css/bootstrap(Sketchy).css}">
		<meta name="viewport" content="width=device-width">
		<title> Tienda </title>
	</head>

	<body>
		<h1> Productos </h1>
		
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<div class="collapse navbar-collapse" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link active" href="/index">INICIO
							<span class="visually-hidden">(current)</span>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link"href="/crear">AÑADIR PRODUCTO</a>
					</li>					
				</ul>
					<input class="me-sm-2" type="search" name="busqueda" placeholder="Nombre del producto..." size="50">
					<a th:href="@{/producto/buscar}"> <button>Buscar</button> </a>
			</div>
		</div>
	</nav>
		
		<br>
		
			<form th:action="@{/producto/{id_Producto}}" method="GET">
				<div th:each="producto: ${productos}">
					<div th:text="${producto.id_Producto}"> </div>
					<div th:text="${producto.tituloProducto}"> </div>
					<div th:text="${producto.descripcionProducto}"> </div>
					<div th:text="${producto.precio}"> </div>
					<div th:text="${producto.descuento}"> </div>
				</div>
			</form>
			
			<div th:each="producto: ${productos}">
				<a th:href="@{/producto/borrar/{id}(id=${producto.id_Producto})}"> <button> Borrar Producto </button> </a>
			</div>
	</body>
</html>