<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<link rel="stylesheet" th:href="@{/css/Bootstrap(Sketchy).css}">
	<meta name="viewport" content="width=device-width">
	<title> Tienda </title>

</head>

<body>
	<header>
		<h1 class="center"> REGISTRO </h1>
	</header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav me-auto">
				<li class="nav-item">
					<a class="nav-link active" href="/index"> INICIO </a>
				</li>
				<li th:if="${roles == 'Admin'}" class="nav-item">
					<a class="nav-link" href="/crear"> AÑADIR PRODUCTO </a>
				</li>
			</ul>
	
			<div class="d-block">
	
				<form th:action="@{/producto/buscar}" method="GET">
					<input class="me-sm-2" type="search" name="nombre" placeholder="Nombre del producto..." size="30">
					<input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Buscar">
				</form>
				<div class="userLR">
					<div th:if="${usuario1 != usuario2}">
						<a th:href="@{/usuario/login}" class="btn btn-outline-info bg-white"> Entrar </a>
						<a th:href="@{/usuario/signup}" class="btn btn-outline-info bg-white"> Registro </a>
					</div>
					<div th:if="${usuario1 == usuario2}">
						<a th:href="@{/usuario/perfil/{id}(id=${id_usuario})}" class="btn btn-outline-info bg-white"> Perfil
						</a>
						<a th:href="@{/usuario/logOut}" class="btn btn-outline-info bg-white"> Salir </a>
						<a th:href="@{/carrito/listar}">
							<div th:if="${usuario1 == usuario2}" class="userLR carrito"> </div>
						</a>
					</div>
				</div>
	
			</div>
		</div>
	</nav>
	<br>
	<form th:action="@{/usuario/signup}" method="POST">
		<div class="form-group">
			<fieldset>
				<legend>Datos personales</legend>
				
				<input type="text" name="nombreUsuario" class="form-control"
					placeholder="Introduce tu nombre de usuario...">
				<br>
				<input type="text" name="nombre" class="form-control"
					placeholder="Introduce tu nombre...">
				<br>
				<input type="text" name="apellidosusuario" class="form-control"
					placeholder="Introduce tus apellidos...">
				<br>
				<input type="password" name="contrasenia" class="form-control" placeholder="Introduce tu contraseña...">
				<br>
				<input type="email" name="correo" class="form-control" placeholder="Introduce tu correo...">
				<br>
				<input type="date" name="fechanacimiento" class="form-control"
					placeholder="Introduce tu fecha de nacimiento..." required="required">

			</fieldset>

			<br>

			<fieldset>
				<legend>Datos de pago</legend>

				<input type="number" name="numerotarjeta" class="form-control" placeholder="Número de tarjeta...">
				<br>
				<input type="text" name="titulartarjeta" class="form-control" placeholder="Titular de la tarjeta...">
				<br>
				<input type="number" name="codigoseguridad" class="form-control" placeholder="Codigo de seguridad...">
				<br>
				<input type="text" name="direccionfacturacion" class="form-control"
					placeholder="Dirección de facturación...">
			</fieldset>
		</div>

		<br>
		<button type="submit" class="btn btn-primary btn-lg">Darse de alta</button>
	</form>
</body>

</html>