<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<title> Registro de Usuarios </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap(1).css}">
	<link rel="favicon" th:href="@{/img/favicon.ico}">

</head>

<body>

	<header th:replace="nav/header.html"> </header>

	<br>

	<div class="container-fluid">

		<form th:action="@{/usuario/signup}" method="POST" class="registro centro">
			<div class="form-control-md form-control">
				<fieldset>
					<legend>Datos personales</legend>

					<input type="text" name="nombreUsuario" class="form-control"
						placeholder="Introduce tu nombre de usuario...">
					<br>
					<input type="text" name="nombre" class="form-control" placeholder="Introduce tu nombre...">
					<br>
					<input type="text" name="apellidosusuario" class="form-control"
						placeholder="Introduce tus apellidos...">
					<br>
					<input type="password" name="contrasenia" class="form-control"
						placeholder="Introduce tu contraseña...">
					<br>
					<input type="email" name="correo" class="form-control" placeholder="Introduce tu correo...">
					<br>
					<input type="date" name="fechanacimiento" class="form-control"
						placeholder="Introduce tu fecha de nacimiento..." required="required">

				</fieldset>

				<br>

				<fieldset>
					<legend>Datos de pago</legend>

					<input type="number" name="numerotarjeta" class="form-control" placeholder="Número de tarjeta...">
					<br>
					<input type="text" name="titulartarjeta" class="form-control"
						placeholder="Titular de la tarjeta...">
					<br>
					<input type="number" name="codigoseguridad" class="form-control"
						placeholder="Codigo de seguridad...">
					<br>
					<input type="text" name="direccionfacturacion" class="form-control"
						placeholder="Dirección de facturación...">
				</fieldset>
			</div>
				<button type="submit" class="mt-2 btn btn-primary btn-lg">Darse de alta</button>
		</form>
	</div>
</body>

</html>