<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<title> Acceso a usuarios </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<meta name="viewport" content="width=device-width">
	
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap(1).css}">
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}"> 

</head>

<body>

	<header th:replace="nav/header.html"> </header>

	<br>

	<div class="container-fluid">

		<h1 class="display-1 text-danger alert alert-danger center"> Acceso denegado </h1>

		<p class="center text-danger"> Usted no tiene acceso a esta página </p>

		<br>

		<div class="center">
			<p> ¿Tienes cuenta? </p>
			<a class="btn btn-outline-primary btn-lg" th:href="@{/usuario/login}"> Iniciar sesion </a>
		</div>

		<br>

		<div class="center">
			<p> ¿No tienes cuenta? </p>
			<a class="btn btn-outline-danger btn-lg" th:href="@{/usuario/signup}"> Regístrate </a>
		</div>

		<br>

		<div class="center">
			<p> ¿Volver a inicio? </p>
			<a class="btn btn-outline-info btn-lg" th:href="@{/index}"> Inicio </a>
		</div>
	</div>

</body>

</html>