<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<title> Información de Usuario </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<meta name="viewport" content="width=device-width">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.css}">

</head>

<body>

	<header th:replace="nav/header.html"> </header>

	<br>
	
	<div class="container-fluid">

		<table class="table">
			<thead>
				<tr class="table-info text-start">
					<th scope="col"> Nombre de Usuario </th>
					<th scope="col"> Nombre Real </th>
					<th scope="col"> Apellidos </th>
					<th scope="col"> E-mail </th>
					<th scope="col"> Fecha de Nacimiento </th>
					<th scope="col"> Número de tarjeta </th>
					<th scope="col"> Titular de la tarjeta </th>
					<th scope="col"> Codigo de seguridad </th>
					<th scope="col"> Dirrección de Facturación </th>
				</tr>
			</thead>

			<tbody>
				<tr class="table-info text-start">
					<td scope="row" th:text="${usuario.nombreUsuario}" />
					<td scope="row" th:text="${usuario.nombre}" />
					<td scope="row" th:text="${usuario.apellidos}" />
					<td scope="row" th:text="${usuario.email}" />
					<td scope="row" th:text="${usuario.fechaNacimiento}" />
					<td scope="row" th:text="${usuario.numeroTarjeta}" />
					<td scope="row" th:text="${usuario.titularTarjeta}" />
					<td scope="row" th:text="${usuario.codigoSeguridad}" />
					<td scope="row" th:text="${usuario.direccionFacturacion}" />
				</tr>
			</tbody>
		</table>
		<a th:href="@{/compra/miscompras}"><button type="submit" class="mt-2 btn btn-secondary btn-lg">Mis compras</button></a>
	</div>
</body>

</html>