<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es">

<head>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/Bootstrap(1).css}">
	<meta name="viewport" content="width=device-width">
	<title> Acceso a usuarios </title>

</head>

<body>

	<header th:replace="nav/header.html"> </header>

	<br>

	<div class="container-fluid">

		<h1 class="display-1 text-danger alert alert-danger center"> Acceso denegado </h1>

		<p class="center text-danger"> Usted no tiene acceso a esta página </p>

		<br>

		<div class="center">
			<p> ¿Tienes cuenta? </p>
			<a class="btn btn-outline-primary btn-lg" th:href="@{/usuario/login}"> Iniciar sesion </a>
		</div>

		<br>

		<div class="center">
			<p> ¿No tienes cuenta? </p>
			<a class="btn btn-outline-danger btn-lg" th:href="@{/usuario/signup}"> Regístrate </a>
		</div>

		<br>

		<div class="center">
			<p> ¿Volver a inicio? </p>
			<a class="btn btn-outline-info btn-lg" th:href="@{/index}"> Inicio </a>
		</div>
	</div>

</body>

</html>