<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<title> Acceso a usuarios </title>

	<meta charset='utf-8'>
	<meta name="author" content="Erick Jaquez y Luis Martinez">
	<meta name="viewport" content="width=device-width">

	<link rel="shortcut icon" th:href="@{/img/favicon.ico}">

	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap-icons.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap(1).css}">

</head>

<body>

	<header th:replace="nav/header.html"> </header>

	<br>

	<div class="container-fluid">

		<h1 class="display-1 text-danger alert alert-danger center"> Acceso denegado </h1>

		<p class="center text-danger"> Usted no tiene acceso a esta página </p>

		<br>

		<div class="center">
			<p> ¿Tienes cuenta? </p>
			<a class="btn btn-outline-primary btn-lg" th:href="@{/usuario/login}"> Iniciar sesion </a>
		</div>

		<br>

		<div class="center">
			<p> ¿No tienes cuenta? </p>
			<a class="btn btn-outline-danger btn-lg" th:href="@{/usuario/signup}"> Regístrate </a>
		</div>

		<br>

		<div class="center">
			<p> ¿Volver a inicio? </p>
			<a class="btn btn-outline-info btn-lg" th:href="@{/index}"> Inicio </a>
		</div>
	</div>

</body>

</html>