<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang='es' xml:lang="es"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>

	<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap/bootstrap.min.js}"></script>

</head>

<body>

	<div clas="container-fluid">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

			<!-- Logo de la página -->
			<a class="navbar-brand" href="/"><img class="foto" th:src="@{/img/logo.png}" /></a>

			<!-- Boton Responsive -->
			<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
				data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Logo de la página -->
			<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
				<div class="navbar-collapse">
					<nav class="navbar-nav enlace">
						<a class="nav-link text-white" href="/">INICIO</a>
						<div class="nav-item" sec:authorize="hasAuthority('Admin')">
							<a class="nav-link text-white" th:href="@{/producto/crear}">AÑADIR PRODUCTO </a>
						</div>
					</nav>

				</div>

				<div class="form-inline">

					<form class="me-4" th:action="@{/producto/buscar}" method="GET">
						<div class="form-group">
							<input class="form-control form-control-md m-1" type="search" name="nombre"
								placeholder="Nombre del producto..." size="30">
							<button class="btn btn-outline-info btn-primary m-1" type="submit"> Buscar </button>
						</div>


					</form>

					<div class="navbar-nav">
						<div class="nav-item me-3" sec:authorize="isAnonymous()">
							<a th:href="@{/usuario/login}" class="btn btn-primary btn-outline-info">
								Entrar </a>
							<a th:href="@{/usuario/signup}" class="btn btn-primary btn-outline-info">
								Registro </a>
						</div>

						<div class="nav-item me-3" sec:authorize="isAuthenticated()">
							<a th:href="@{/usuario/perfil/{id}(id=${id_usuario})}"
								class="btn btn-primary btn-outline-info">Perfil</a>
							<a th:href="@{/usuario/logOut}" class="btn btn-primary btn-outline-info">Salir</a>
						</div>

						<div class="nav-item form-inline">
							<a th:href="@{/carrito/listar}">
								<div class="carrito m-2"> </div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</div>

</body>

</html>